{%extends 'layouts/layout_watercooler.html'%}

{%block body%}
<div class="container"></div>
<h1 align="center">The Watercooler</h1>
<h2>{{name}} Page</h2>

<br><br>

<form method="POST" action="{{ url_for('__watercooler_books_edit__') }}">
    <center>
    Book's name: <input type = "text" name= "books_name"/><br><br>
    User's name: <select name= "users_name">
        <option >- Choose a User -</option>
    {%for i in users_selection%}
        <option >{{ i[0] }}</option>
    {%endfor%}
    </select>
    <label for="pwd"> and password:</label>
    <input type="password" id="pwd" name="users_password"><br><br>
    <input type = "submit" name="action" value="Add">&nbsp;&nbsp;or&nbsp;&nbsp;<input type = "submit" name="action" value="Remove">
    </center>
</form>

<br><br>



<H2>Book suggestions:</H2>
{% for i in books_upcoming_selection %}
<li><a><b>{{i[0]}}</b>, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Current book selection:</H2>
{% for i in books_chosen_selection %}
<li><a><b>{{i[0]}}</b>, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Previous book suggestions:</H2>
{% for i in books_finished_selection %}
<li><a><b>{{i[0]}}</b>, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

</div>
{%endblock%}
