{%extends 'layouts/layout_watercooler.html'%}

{%block body%}
<div class="container"></div>
<h1 align="center">The Watercooler</h1>
<h2>{{name}} Page</h2>

<br>

<form method="POST" action="{{ url_for('__watercooler_games_edit__') }}">
    <center>
    Game's name: <input type = "text" name= "games_name"/>
    and console: <select name= "consoles_name" size=4 multiple>
    {%for i in consoles_selection%}
        <option >{{ i }}</option>
    {%endfor%}
    </select><br><br>
    User's name: <select name= "users_name">
        <option >- Choose a User -</option>
    {%for i in users_selection%}
        <option >{{ i[0] }}</option>
    {%endfor%}
    </select>
    <label for="pwd">and password:</label>
    <input type="password" id="pwd" name="users_password"><br><br>
    <input type = "submit" name="action" value="Add">&nbsp;&nbsp;or&nbsp;&nbsp;<input type = "submit" name="action" value="Remove">&nbsp;&nbsp;|&nbsp;&nbsp;<input type = "submit" name="action" value="Shuffle">&nbsp;&nbsp;or&nbsp;&nbsp;<input type = "submit" name="action" value="Finished">
    </center>
</form>
<br><br>
<H2>Game suggestions:</H2>
{% for i in games_upcoming_selection %}
<li><a><b>{{i[0]}}</b> on {{i[1]}}, suggested by {{i[2]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Current game selection:</H2>
{% for i in games_chosen_selection %}
<li><a><b>{{i[0]}}</b> on {{i[2]}}, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Previous game suggestions:</H2>
{% for i in games_finished_selection %}
<li><a><b>{{i[0]}}</b> on {{i[2]}}, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

</div>
{%endblock%}
