<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
  </style>

{%extends 'layouts/layout_watercooler.html'%}

{%block body%}
<div class="container"></div>
<h1 align="center">The Watercooler</h1>
<h2>{{name}} Page</h2>

<br><br><br>

<table style="width:75%">
<tr><th colspan="3"><center><h3>Books</h3></center></th></tr>
    <tr>
      <th>Book Name</th>
      <th>Suggested by</th>
      <th>Due by</th>
    </tr>
    <tr>
      <td>{{books_choice[0][0]}}</td>
      <td>{{books_choice[0][1]}}</td>
      <td>{{last_thursday}}</td>
    </tr>
  </table>
<br><br><br>


<table style="width:75%">
<tr><th colspan="4"><center><h3>Games</h3></center></th></tr>
    <tr>
      <th>Game Name</th>
      <th>Console</th>
      <th>Suggested by</th>
      <th>Due by</th>
    </tr>
    <tr>
      <td>{{games_choice[0][0]}}</td>
      <td>{{games_choice[0][2]}}</td>
      <td>{{games_choice[0][1]}}</td>
      <td>{{last_thursday}}</td>
    </tr>
  </table>
  <br><br><br>


<table style="width:75%">
<tr><th colspan="4"><center><h3>Films</h3></center></th></tr>
    <tr>
      <th>Film Name</th>
      <th>Streaming Platform</th>
      <th>Suggested by</th>
      <th>Due by</th>
    </tr>
    <tr>
      <td>{{films_choice[0][0]}}</td>
      <td>{{films_choice[0][2]}}</td>
      <td>{{films_choice[0][1]}}</td>
      <td>{{next_thursday}}</td>
    </tr>
  </table>
  <br><br><br>


<table style="width:75%">
<tr><th colspan="4"><center><h3>TV Shows (one episode)</h3></center></th></tr>
    <tr>
      <th>TVShow Name</th>
      <th>Streaming Platform</th>
      <th>Suggested by</th>
      <th>Due by</th>
    </tr>
    <tr>
      <td>{{tvshows_choice[0][0]}}</td>
      <td>{{tvshows_choice[0][2]}}</td>
      <td>{{tvshows_choice[0][1]}}</td>
      <td>{{next_thursday}}</td>
    </tr>
  </table>
</div>
{%endblock%}
