{%extends 'layout.html'%}

{%block body%}
<div class="container"></div>
<h1 align="center">The Watercooler</h1>
<h2>{{name}} Page</h2>

<br><br>

<form method="POST" action="{{ url_for('__tvshows_edit__') }}">
    <center>
    <H1>Suggest a TV Show:</H1>
    TV Show's name: <input type = "text" name= "tvshows_name" /><br><br>
    Streaming platform: <select name= "streaming_platforms_name">
        <option >- Choose a Streaming Platform -</option>
    {%for i in streaming_platforms_selection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select><br><br>
    User's name: <select name= "users_name">
        <option >- Choose a User -</option>
    {%for i in users_selection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select><br><br>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="users_password"><br><br>
    <input type = "submit" name="action" value="Create">&nbsp;&nbsp;&nbsp;&nbsp;<input type = "submit" name="action" value="Delete">
    </center>
</form>
<br><br>
<H2>TV Show suggestions:</H2>
{% for i in tvshows_upcoming_selection %}
<li><a><b>{{i[0]}}</b> on {{i[2]}}, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Current TV Show selection:</H2>
{% for i in tvshows_chosen_selection %}
<li><a><b>{{i[0]}}</b> on {{i[2]}}, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<H2>Previous TV Show suggestions:</H2>
{% for i in tvshows_finished_selection %}
<li><a><b>{{i[0]}}</b> on {{i[2]}}, suggested by {{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

</div>
{%endblock%}
