<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
</style>
  
{%extends 'layouts/layout_pandemic.html'%}
  
{%block body%}

<br><br>

<form method="POST" action="{{ url_for('__pandemic_draw_card__') }}">
  <center>
    <h3>Nick's Role: Quarantine Specialist  <small><small><input type = "submit" name="action" value="Nick Draw Card"></small></small></h3>
    The Quarantine Specialist prevents both outbreaks and the placement of disease cubes in the city she is in and all cities connected to that city. She does not affect cubes placed during setup.
  </center>
</form>
<table style="width:75%">
    <tr>
      <th><center>Card Name</center></th>
      <th><center>Colour/Meaning</center></th>
      <th><center>Action</center></th>
    </tr>
    {% set Nick_Card_Counter = 0 %}
    {% for i in Nick %}
    <tr>
      <td><center>{{i[0]}}</center></td>
      <td><center>{{i[1]}}</center></td>
      <td>
        <form method="POST" action="{{ url_for('__pandemic_use_card__') }}">
          <center>
          <input type = "submit" name="action" value="Nick Use Card {{Nick_Card_Counter + loop.index0}}">
          </center>
        </form>
      </td>
    </tr>
    {% set Nick_Card_Counter = Nick_Card_Counter + 1 %}
    {% endfor %}
</table>

<br><br>


<form method="POST" action="{{ url_for('__pandemic_draw_card__') }}">
  <center>
    <h3>James' Role: Dispatcher  <small><small><input type = "submit" name="action" value="James Draw Card"></small></small></h3>
    The Dispatcher may, as an action, either:
    <li><a>move any pawn, if its owner agrees, to any city containing another pawn, or</a></li>
    <li><a>move another player’s pawn, if its owner agrees, as if it were his own.</a></li>
    When moving a player’s pawn as if it were your own, discard cards for Direct and Charter Flights from your hand.<br>
    A card discarded for a Charter Flight must match the city the pawn is moving from.<br>
    The Dispatcher can only move other players’ pawns; he may not direct them to do other actions, such as Treat Disease.
  </center>
</form>
<table style="width:75%">
    <tr>
      <th><center>Card Name</center></th>
      <th><center>Colour/Meaning</center></th>
      <th><center>Action</center></th>
    </tr>
    {% set James_Card_Counter = 0 %}
    {% for i in James %}
    <tr>
      <td><center>{{i[0]}}</center></td>
      <td><center>{{i[1]}}</center></td>
      <td>
        <form method="POST" action="{{ url_for('__pandemic_use_card__') }}">
          <center>
          <input type = "submit" name="action" value="James Use Card {{James_Card_Counter + loop.index0}}">
          </center>
        </form>
      </td>
    </tr>
    {% set James_Card_Counter = James_Card_Counter + 1 %}
    {% endfor %}
</table>

<br><br>


<form method="POST" action="{{ url_for('__pandemic_draw_card__') }}">
  <center>
    <h3>Cal's Role: Researcher  <small><small><input type = "submit" name="action" value="Cal Draw Card"></small></small></h3>
    When doing the Share Knowledge action, the Researcher may give any City card from her hand to another player in the same city as her, without this card having to match her city.<br>
    The transfer must be from her hand to the other player’s hand, but it can occur on either player’s turn.
  </center>
</form>
<table style="width:75%">
    <tr>
      <th><center>Card Name</center></th>
      <th><center>Colour/Meaning</center></th>
      <th><center>Action</center></th>
    </tr>
    {% set Cal_Card_Counter = 0 %}
    {% for i in Cal %}
    <tr>
      <td><center>{{i[0]}}</center></td>
      <td><center>{{i[1]}}</center></td>
      <td>
        <form method="POST" action="{{ url_for('__pandemic_use_card__') }}">
          <center>
          <input type = "submit" name="action" value="Cal Use Card {{Cal_Card_Counter + loop.index0}}">
          </center>
        </form>
      </td>
    </tr>
    {% set Cal_Card_Counter = Cal_Card_Counter + 1 %}
    {% endfor %}
</table>

<br><br>


<form method="POST" action="{{ url_for('__pandemic_draw_card__') }}">
  <center>
    <h3>Cole's Role: Operations Expert  <small><small><input type = "submit" name="action" value="Cole Draw Card"></small></small></h3>
    The Operations Expert may, as an action, either:
    <li><a>build a research station in his current city without discarding (or using) a City card, or</a></li>
    <li><a>once per turn, move from a research station to any city by discarding any City card.</a></li>
    The Dispatcher may not use the Operations Expert’s special move ability when moving the Operation Expert’s pawn.
  </center>
</form>
<table style="width:75%">
    <tr>
      <th><center>Card Name</center></th>
      <th><center>Colour/Meaning</center></th>
      <th><center>Action</center></th>
    </tr>
    {% set Cole_Card_Counter = 0 %}
    {% for i in Cole %}
    <tr>
      <td><center>{{i[0]}}</center></td>
      <td><center>{{i[1]}}</center></td>
      <td>
        <form method="POST" action="{{ url_for('__pandemic_use_card__') }}">
          <center>
          <input type = "submit" name="action" value="Cole Use Card {{Cole_Card_Counter + loop.index0}}">
          </center>
        </form>
      </td>
    </tr>
    {% set Cole_Card_Counter = Cole_Card_Counter + 1 %}
    {% endfor %}
</table>

<br><br>


<h3>Restart?</h3>
<form method="POST" action="{{ url_for('__pandemic_newgame__') }}">
  <center>
  <input type = "submit" name="action" value="New Game">
  </center>
</form>


{%endblock%}