<style>
    table, th, td {
      border: 1px solid grey;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
</style>
  
{%extends 'layouts/layout_pandemic.html'%}
  
{%block body%}
<br><br>
<h3>Pandemic Home</h3>
<br>

<table style="width:75%">
  <tr><th colspan="17"><center>Game Progress</center></th></tr>
  <tr>
    <th><center>Number of Epidemics</center></th>
    <th colspan="7"><center>Infection Rate</center></th>
    <th colspan="9">
      <form method="POST" action="{{ url_for('__pandemic_outbreak__') }}">
        <center>
          Number of Outbreaks&nbsp;<input type = "submit" name="action" value="↑">&nbsp;<input type = "submit" name="action" value="↓">
        </center>
      </form>
    </th>
  </tr>
  <tr>
    <td><center>{{Epidemics[0][0]}}/{{Epidemics[0][2]}}</center></td>
    {% if Epidemics[0][0]>="0" %}
    <td bgcolor="green"><center>2</center></td>
    {% else %}
    <td><center>2</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="1" %}
    <td bgcolor="green"><center>2</center></td>
    {% else %}
    <td><center>2</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="2" %}
    <td bgcolor="yellow"><center>2</center></td>
    {% else %}
    <td><center>2</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="3" %}
    <td bgcolor="yellow"><center>3</center></td>
    {% else %}
    <td><center>3</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="4" %}
    <td bgcolor="orange"><center>3</center></td>
    {% else %}
    <td><center>3</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="5" %}
    <td bgcolor="orange"><center>4</center></td>
    {% else %}
    <td><center>4</center></td>
    {% endif %}
    {% if Epidemics[0][0]>="6" %}
    <td bgcolor="red"><center>4</center></td>
    {% else %}
    <td><center>4</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="0" %}
    <td bgcolor="green"><center>0</center></td>
    {% else %}
    <td><center>0</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="1" %}
    <td bgcolor="green"><center>1</center></td>
    {% else %}
    <td><center>1</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="2" %}
    <td bgcolor="yellow"><center>2</center></td>
    {% else %}
    <td><center>2</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="3" %}
    <td bgcolor="yellow"><center>3</center></td>
    {% else %}
    <td><center>3</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="4" %}
    <td bgcolor="yellow"><center>4</center></td>
    {% else %}
    <td><center>4</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="5" %}
    <td bgcolor="orange"><center>5</center></td>
    {% else %}
    <td><center>5</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="6" %}
    <td bgcolor="orange"><center>6</center></td>
    {% else %}
    <td><center>6</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="7" %}
    <td bgcolor="orange"><center>7</center></td>
    {% else %}
    <td><center>7</center></td>
    {% endif %}
    {% if Epidemics[0][1]>="8" %}
    <td bgcolor="red"><center>8</center></td>
    {% else %}
    <td><center>8</center></td>
    {% endif %}

  </tr>
</table>

{% for i in range(In_Play|length) %}
<br><br>
<table style="width:75%">
  <tr><th colspan="2"><center>{{In_Play[i][0]}}'s Hand</center></th></tr>
  <tr><td colspan="2"><center><b>{{In_Play[i][1]}}:</b> {{In_Play[i][2]}}</center></td></tr>
  <tr>
    <th><center>Card Name</center></th>
    <th><center>Colour/Description</center></th>
  </tr>
      {% for i in In_Play[i][3:] %}
      <tr>
        <td><center>{{i[0]}}</center></td>
        {% if i[1]!="" %}
          <td bgcolor="{{i[1]}}"></td>
        {% else %}
          <td><center>{{i[2]}}</center></td>
        {% endif %}
      </tr>
      {% endfor %}
  </table>
{% endfor %}

<br><br>
<hr>
<form method="POST" action="{{ url_for('__pandemic_settings__') }}">
  <center>
  <input type = "submit" name="action" value="Settings">
  </center>
</form>
<hr>



{%endblock%}