<style>
  table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
</style>

{%extends 'layouts/layout_pandemic.html'%}

{%block body%}
<br><br>
<table style="width:75%">
<tr>
  <th colspan="3"><center>{{In_Play[3][0]}}'s Page</center></th>
</tr>
<tr><td colspan="3"><center><b>{{In_Play[3][1]}}:</b> {{In_Play[3][2]}}</center></td></tr>
<tr>
  <th colspan="1"><center>
    <form method="POST" action="{{ url_for('__pandemic_Player3_draw_card__') }}">{{In_Play[3][0]}}'s Hand<br><hr>
    <button type = "submit" name="action" value="{{In_Play[3][0]}}">Draw Card</button>
    </form> </center>
  </th>
  <th colspan="2"><center>
    <form method="POST" action="{{ url_for('__pandemic_Player3_changerole__') }}">
      <center>
        Select a Role:<br><hr> <select name= "roles_name">
          {%for n in Roles%}
            <option >{{ n[0] }}</option>
          {%endfor%}
        </select>
        <button type = "submit" name="action" value="{{In_Play[3][0]}}">Change Role</button>
      </center>
    </form>
  </th>
<tr>
  <th><center>Card Name</center></th>
  <th><center>Colour/Description</center></th>
  <th><center>Action</center></th>
</tr>
    {% for i in In_Play[3][3:] %}
    <tr>
      <td><center>{{i[0]}}</center></td>
      {% if i[1]!="" %}
        <td bgcolor="{{i[1]}}"></td>
      {% else %}
        <td><center>{{i[2]}}</center></td>
      {% endif %}
      <td>
        <form method="POST" action="{{ url_for('__pandemic_Player3_use_card__') }}">
          <center>
            <button type = "submit" name="action" value="{{In_Play[3][0]}}:{{i[0]}}">Play Card</button>
          </center>
        </form>
        <hr>
        <form method="POST" action="{{ url_for('__pandemic_Player3_shareknowledge__') }}">
          <center>
            Select Player: <select name= "players_name">
              {%for n in Players%}
                {% if n[0] != In_Play[3][0] %}
                  <option >{{ n[0] }}</option>
                {% endif %}
              {%endfor%}
            </select>
            <button type = "submit" name="action" value="{{In_Play[3][0]}}:{{i[0]}}">Share Knowledge</button>
          </center>
        </form>
      </td>
    </tr>
    {% endfor %}
</table>








{%endblock%}